.bg-blackchoco {
  background-color: '#484040';
}
@for $i from 0 through 1000 {
  .ms-#{$i} {
    margin-left: #{$i}px !important;  
  }
  .me-#{$i} {
    margin-right: #{$i}px !important;  
  }
  .mt-#{$i} {
    margin-top: #{$i}px !important;  
  }
  .mb-#{$i} {
    margin-bottom: #{$i}px !important;  
  }
  .mx-#{$i} {
    margin-left: #{$i}px !important;
    margin-right: #{$i}px !important;
  }
  .my-#{$i} {
    margin-top: #{$i}px !important;
    margin-bottom: #{$i}px !important;
  }
  .m-#{$i} {
    margin: #{$i}px !important;
  }
  .ps-#{$i} {
    padding-left: #{$i}px !important;  
  }
  .pe-#{$i} {
    padding-right: #{$i}px !important;  
  }
  .pt-#{$i} {
    padding-top: #{$i}px !important;  
  }
  .pb-#{$i} {
    padding-bottom: #{$i}px !important;  
  }
  .px-#{$i} {
    padding-left: #{$i}px !important;
    padding-right: #{$i}px !important;
  }
  .py-#{$i} {
    padding-top: #{$i}px !important;
    padding-bottom: #{$i}px !important;
  }
  .p-#{$i} {
    padding: #{$i}px !important;
  }
  .top-#{$i} {
    top: #{$i}px !important;
  }
  .right-#{$i} {
    right: #{$i}px !important;
  }
  .bottom-#{$i} {
    bottom: #{$i}px !important;
  }
  .left-#{$i} {
    left: #{$i}px !important;
  }
  .w-#{$i} {
    width: #{$i}px !important;
  }
  .h-#{$i} {
    height: #{$i}px !important;
  }
  .wp-#{$i} {
    width: #{$i*1%} !important;
  }
  .hp-#{$i} {
    height: #{$i*1%} !important;
  }
  .max-w-#{$i} {
    max-width: #{$i}px !important;
  }
  .max-h-#{$i} {
    max-height: #{$i}px !important;
  }
  .max-wp-#{$i} {
    max-width: #{$i*1%} !important;
  }
  .max-hp-#{$i} {
    max-height: #{$i*1%} !important;
  }
  .zi-#{$i} {
    z-index: $i !important;
  }
} 
@for $i from 1 through 9 {
  .fw-#{$i * 100} {
    font-weight: $i * 100;  
  }
}
@for $i from 1 through 100 {
  .fs-#{$i} {
    font-size: #{$i}px;  
  }
}
@for $i from 0 through 500 {
  .br-#{$i} {
    border-radius: #{$i}px;  
  }
  .br-tl-#{$i} {
    border-top-left-radius: #{$i}px;  
  }
  .br-tr-#{$i} {
    border-top-right-radius: #{$i}px;  
  }
  .br-bl-#{$i} {
    border-bottom-left-radius: #{$i}px;  
  }
  .br-br-#{$i} {
    border-bottom-right-radius: #{$i}px;  
  }
}
@media screen and (min-width: 768px) {
  @for $i from 0 through 1000 {
    .t-ms-#{$i} {
      margin-left: #{$i}px !important;  
    }
    .t-me-#{$i} {
      margin-right: #{$i}px !important;  
    }
    .t-mt-#{$i} {
      margin-top: #{$i}px !important;  
    }
    .t-mb-#{$i} {
      margin-bottom: #{$i}px !important;  
    }
    .t-mx-#{$i} {
      margin-left: #{$i}px !important;
      margin-right: #{$i}px !important;
    }
    .t-my-#{$i} {
      margin-top: #{$i}px !important;
      margin-bottom: #{$i}px !important;
    }
    .t-m-#{$i} {
      margin: #{$i}px !important;
    }
    .t-ps-#{$i} {
      padding-left: #{$i}px !important;  
    }
    .t-pe-#{$i} {
      padding-right: #{$i}px !important;  
    }
    .t-pt-#{$i} {
      padding-top: #{$i}px !important;  
    }
    .t-pb-#{$i} {
      padding-bottom: #{$i}px !important;  
    }
    .t-px-#{$i} {
      padding-left: #{$i}px !important;
      padding-right: #{$i}px !important;
    }
    .t-py-#{$i} {
      padding-top: #{$i}px !important;
      padding-bottom: #{$i}px !important;
    }
    .t-p-#{$i} {
      padding: #{$i}px !important;
    }
  }
}
@media screen and (min-width: 1024px) {
  @for $i from 0 through 1000 {
    .d-ms-#{$i} {
      margin-left: #{$i}px !important;  
    }
    .d-me-#{$i} {
      margin-right: #{$i}px !important;  
    }
    .d-mt-#{$i} {
      margin-top: #{$i}px !important;  
    }
    .d-mb-#{$i} {
      margin-bottom: #{$i}px !important;  
    }
    .d-mx-#{$i} {
      margin-left: #{$i}px !important;
      margin-right: #{$i}px !important;
    }
    .d-my-#{$i} {
      margin-top: #{$i}px !important;
      margin-bottom: #{$i}px !important;
    }
    .d-m-#{$i} {
      margin: #{$i}px !important;
    }
    .d-ps-#{$i} {
      padding-left: #{$i}px !important;  
    }
    .d-pe-#{$i} {
      padding-right: #{$i}px !important;  
    }
    .d-pt-#{$i} {
      padding-top: #{$i}px !important;  
    }
    .d-pb-#{$i} {
      padding-bottom: #{$i}px !important;  
    }
    .d-px-#{$i} {
      padding-left: #{$i}px !important;
      padding-right: #{$i}px !important;
    }
    .d-py-#{$i} {
      padding-top: #{$i}px !important;
      padding-bottom: #{$i}px !important;
    }
    .d-p-#{$i} {
      padding: #{$i}px !important;
    }
  }
}
input, select, textarea {
  &:focus,&:active,&:hover {
    outline: none;
  }
}
.cursor-pointer {
  cursor: pointer;
}
a {
  text-decoration: none;
}