nav.main-header {
  background: #050607;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  .dropdown-menu {
    background-color: #252525;
  }
}
// modal
#modalLogin, #modalForgot, #modalInfo {
  .modal-body {
    background-color: #252525;
  }
}
#modalRegister {
  .modal-body {
    background-color: #252525;
  }
}